html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: "NexonLv1Gothic";
    font-weight: 300;
}
html{
    scroll-behavior: smooth; 
}
.none{
    display: none;
}

.header{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 60px;
    transition: all 0.5s;
}
.header.fixed {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.5s;
    box-shadow: 0px 8px 6px -6px #66666699
}
.title-logo{
    font-weight: 700;
    font-size: 28px;
    justify-self: start;
    color: #ffffff;
}
.title-logo.fixed {
    color: #39642F;
    font-weight: 700;
}
.menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 50px;
}
.menu-item.fixed {
    color: #000000;
}
.menu-item{
    transition: 0.3s ease;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1.5px;
    border-top: 3px solid reba(0,0,0,1);
    border-bottom: 3px solid reba(0,0,0,1);
    padding: 20px 0;
    margin: 0 28px;
}
.menu-item:hover{
    border-top: 3px solid #E2F41B;
    border-bottom: 3px solid #E2F41B;
    padding: 10px 0; 
}
.active{
    color: #E2F41B;
}
.menu-item > a:hover:after{
width:100%;
left: 0;
}
.main-img{
    width: 100%;
    background-image: url('/assets/img/main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 680px;
    position: relative;;
}
.main-title{
    color: #ffffff;
    position: absolute;
    bottom: 230px;
    right: 50px;
    font-size: 100px;
    font-weight:bold;
    text-align: right;
    letter-spacing: 5px;
}
.main-title{
    cursor: pointer;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.02em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    transition: background-size .5s cubic-bezier(0.67, 0.01, 0.15, 0.98); 
    background-image: linear-gradient(135deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-size: 0% 100%;
}
.main-title:hover{
    background-size: 250% 100%;
}
.main-flag{
    position: absolute;
    bottom: 170px;
    right: 55px;
    background-color: #E2F41B;
    color: #ffffff;
    padding: 10px 30PX;
}
.main-flag > p {
    font-weight: 500;
    color: #39642F;
    font-size: 20px;
    letter-spacing: 10px;
}

.container{
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
}

.contents {
    width: 100%;
    padding-top: 120px;
    margin: 0 auto;
}
.contents-title > h2{
    font-size: 30px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 20px;
}
.contents-title > h2> span{
    font-size: 60px;
    font-weight: 800;
    color: #39642F;
}
.contents-title > p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
    line-height: 28px;
}
#about{
    height: 750px;
    width: 100%;
}
.about-title{
    margin-left: 15px;
}

#about-images {
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    margin-left: 30px;
}

.about-img {
    display: inline-block;
    align-content: center;
    justify-content: center;
    width: 350px;
    height: 400px;
    margin-right: -40px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

.about-img.i1{
    background-image: url('assets/img/tennis-img-01.jpg');
    border-radius: 53% 42% 45% 48% / 63% 35% 61% 36%;
    overflow: hidden;
}
.about-img.i2{
    background-image: url('assets/img/tennis-img-02.jpg');
    border-radius: 36% 64% 45% 57% / 57% 77% 29% 36%;
    overflow: hidden;
}
.about-img.i3{
    background-image: url('https://cdn.pixabay.com/photo/2014/03/16/13/43/kim-clijsters-288567_1280.jpg');
    border-radius: 59% 40% 37% 66% / 56% 35% 70% 40%;
    overflow: hidden;
}
.about-img.i4{
    background-image: url('https://cdn.pixabay.com/photo/2018/07/23/07/35/tennis-3556179_1280.jpg');
    border-radius: 50% ;
    overflow: hidden;
}

#club{
    background-color: #f7f7f7;
    border-radius: 60px;
    height: 800px;
    overflow:hidden;
}

.club-title{
    text-align: right;
    margin-right: 40px;
}

.club-images{
    position:relative;
    width:1440px; 
    height:200px;
    margin-top: 40px;
 }
 .slider1{
     width:4000px; 
     height:100%;
     display:flex;
     flex-wrap:nowrap;
     animation: moveRight 25s linear infinite;
    }
    
 .slider2{
    width:4000px; 
    height:100%;
    display:flex;
    flex-wrap:nowrap;
    animation: moveLeft 25s linear infinite;
    margin-top: 30px;
}
.slider1 > div,.slider2 > div {
    border-radius: 20px;
    overflow:hidden;
    margin-right: 15px;
    width: 300px;
    height: 200px;
}

.slider1 > div > img,.slider2 > div >img {
    width: 100%;
    height: 100%;
    object-fit : cover;
}
 @keyframes moveRight {
     0% {
         transform: translate(0, 0);
     }
     100% {
         transform: translate(-50%, 0);
     }
 }
 @keyframes moveLeft {
    0% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
   
.lesson-table{
    margin-left: 15px;
    margin-top: 40px;
}
.lesson-table > h2{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 5px;
    display: inline;
}
.lesson-table > span{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    display: inline;
}
.lesson-list{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    table-layout:fixed;
    border-collapse:collapse;
    width:100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom:2px solid #ccc;
    text-align: center;
}

.lesson-list > thead {
    background-color: #82CC00;
    color: #ffffff;
    
}
.lesson-list > thead > tr > th {
    padding: 15px;
    border: solid 1px #ffffff;
}

.lesson-list > tbody > tr > td, th {
    padding: 20px;
    border: dashed 1px #dcdbdb;
}
.lesson-title{
    margin-left: 15px;
}

.contact-title{
    text-align: center;
    margin-right: 40px;
}

.contact-btn{
    font-family: "NexonLv1Gothic";
    width: 200px;
    height: 60px;
    padding: 15px 30px;
    background-color: #f7f7f7;
    color: #185902;
    border: solid 3px #185902;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    transition: all .2s ease-in-out;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
}
.contact-btn:hover{
    background:  #185902;
    color: #ffffff;
}
.btn-active{
    background:  #185902;
    color: #ffffff;
}
.map-addr{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#addr,#copy-done,#addrTxt{
    font-size: 20px;
    font-weight: 500;
    margin-right: 8px;
}
#copyBtn{
    cursor: pointer;
}
#map{
    width: 80%;
    height:600px;
    margin:0 auto;
    border: 6px solid #185902;
}
.contact-map{
    height:700px;
    position: relative;
}

.ctct-div{
    margin: 0 auto;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ctct-div > input{
    width: 500px;
    height: 40px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #185902;
    padding-left: 10px;
    font-size: 15px;
}
.ctct-div > label{
    width: 500px;
    margin: 15px auto 5px auto;
}
.ctct-div > textarea{
    font-size: 15px;
    padding: 10px;
    width: 500px;
    height: 250px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #185902;
}
#ctctBtn{
    font-family: "NexonLv1Gothic";
    width: 120px;
    height: 50px;
    padding: 8px 10px;
    background-color: #82CC00;
    color: #ffffff;
    border: none;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    transition: all .2s ease-in-out;
    margin-top: 30px;
    border-radius: 30px;    
    text-align: center;
}
#ctctBtn:hover{
    background:  #185902;
    color: #ffffff;
}
.footer{
 width: 100%;
 height: 200px;
 background-color: #185902;
 color: #ffffff;
 text-align: center;
 padding-top: 40px;
 line-height: 25px;
}
#footer-title{
    font-weight: 600;
}

@media (max-width:1480px){
    .about-img{
        width: 300px;
        height: 320px;
    }
    .contents{
        padding-top: 110px;
    }
}
@media (max-width:1280px){
    .contents{
        padding-top: 90px;
    }
    .about-img{
        width: 250px;
        height: 280px;
    }
    .container{
        padding: 0 40px;
    }
}
@media (max-width:950px){
    .about-img{
        width: 200px;
        height: 230px;
    }
    .lesson-list{
        font-size: 15px;
    }
    .lesson-list > thead > tr > th {
        padding: 10px;
        border: solid 1px #ffffff;
    }
    .lesson-list > tbody > tr > td, th {
        padding: 15px;
        border: dashed 1px #dcdbdb;
    }
}
@media (max-width:780px){
    .contents{
        padding-top: 60px;
    }
    .about-img{
        width: 160px;
        height: 190px;
    }
    .slider1 > div,.slider2 > div {
        width: 210px;
        height: 150px;
        margin-right: 10px;
    }
    .slider2{
        margin-top: 5px;
    }
    .slider1{
        height: 80%;
    }
    #about{
        height: 530px;
    }
    #club{
        height: 600px;
    }
}
@media (max-width:600px){
    .container{
        padding: 0 20px;
    }
    .about-img{
        width: 130px;
        height: 160px;
    }
    .contents-title > h2{
        font-size: 23px;
        margin-bottom: 8px;
    }
    .contents-title > h2> span{
        font-size: 50px;
    }
    .contents-title > p{
        font-size: 18px;
    }
    .lesson-table > h2{
        font-size: 22px;
    }
    .lesson-table > span{
        font-size: 17px;
    }
    .contact-btn{
        width: 170px;
        height: 45px;
        padding: 10px 15px;
        font-size: 18px;
        margin-right: 8px;
        margin-bottom: 20px;
    }#addr,#copy-done,#addrTxt{
        font-size: 16px;
        font-weight: 500;
        margin-right: 5px;
    }
    .ctct-div > input{
        width: 350px;
    }
    .ctct-div > label{
        width: 350px;
    }
    .ctct-div > textarea{
        width: 350px;
    }
}

@media (min-width:400px){

}
